<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

</head>
<body data-bs-theme="dark">
  <%-include('layouts_admin');%>
  <%-include('header_adm'); %>
  <style>
    .custom-shape-divider-top-1706351543 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .custom-shape-divider-top-1706351543 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 177px;
        transform: rotateY(180deg);
    }

    .custom-shape-divider-top-1706351543 .shape-fill {
        fill: #C5D3C5;
    }

</style>
  <div class="container mt-5">
    <div class="row">
      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                              jumlah Pengguna</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                      </div>
                      <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-green shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                              jumlah Pembelian
                          </div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                      </div>
                      <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      
    </div>
  </div>
</body>
</html>