<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riwayat Transaksi</title>
    <link rel="icon" href="/img/delta_store.png" />
    <!-- Tambahkan link CSS yang diperlukan di sini -->
</head>
<body data-bs-theme="dark">

    <%-include('layouts')%>

    <div class="container mt-3">
        <h1>Riwayat Transaksi</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tanggal</th>
                    <th scope="col">Nama Game</th>
                    <th scope="col">Nominal Top Up</th>
                    <th scope="col">Harga Top Up</th>
                    <th scope="col">Jenis Pembayaran</th>
                    <th scope="col">Alamat Email</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data transaksi akan ditampilkan di sini -->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
